<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to QuotingDojo</h1>
    <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
         <h3><%= errors[x].message %></h3>
        <% } %>
    <% } %>
   
    <form action="/submit" method="POST">
        Your name: <input type="text" name="name"><br>
        Your quote: <textarea name="quote" rows="4" cols="30"></textarea><br>
        <input type="submit" value="Add to my quote!">
    </form>
    <a href="/quotes"><button>Skip to quotes!</button></a>
</body>
</html>